@font-face {
    font-family: Architects;
    src: url(../css/fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}

@media (max-width: 480px){

    .form-contact__linha {
        flex-direction: column;
        align-items: stretch;
    }

    .form-contact__col-a {
        display: none;
    }

    .form-contact__col-b {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start; 
    }

    .form-contact__input {
        width: 100% !important;
    }

    .botao {
        width: 100%;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, #18A2C9 , #72C3BD);
    background-repeat: no-repeat;

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /*border: 1px solid white;*/
}

.container--flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-header__image-perfil {
    width: 100px;
    padding: 20px;
    box-shadow: 1px 1px 10px rgba(222, 210, 124, 0.2);
}

.titulo-pagina {
   color: rgb(222, 210, 124);
   font-family: Architects, sans-serif;
   font-size: 25px;
}

.form-header__text {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/*formulario de contato*/

.form-contact {
    padding: 20px;
}

.form-contact__linha {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*height: 60px;*/
    /*border: 1px solid yellowgreen;*/
    margin-bottom: 15px;
}

.form-contact__col-a {
    width: 10%;
    height: 100%;
    /*border: 1px solid red;*/
}

.form-contact__col-b {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    /*border: 1px solid red;*/
}

.form-contact__label {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 500;
}

.form-contact__input {
    padding: 5px 10px;
    height: 35px;
    color: #18A2C9;
    border: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 3px;
    transition: background-color 0.4s, color 0.4s;

    
}

.form-contact__input::placeholder {
    color: #18A2C9;
}

.form-contact__input:focus{
    background-color: #18A2C9;
    color: white;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.form-contact__input--metade {
    /*deixar um espaco pra trabalhar entre eles*/
    width: 48%;

}

.form-contact__input--terco {
    width: 30%;
}

.form-contact__input--inteira {
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    color: #18A2C9;
    border: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 3px;
    transition: background-color 0.4s, color 0.4s;
}

.form-contact__input--quarto {
    width: 24%;
}

.form-contact__input--grande {
    width: 100%;
    height: 200px;
    resize: none;
}

.form-contact__linha2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    background: transparent;
    gap: 30px;
}

.botao {
    height: 45px;
    width: 35%;
    background: transparent;
    color: white;
    border-radius: 3px;
    border-color: white;
    border: 1px solid white;
}

.botao:hover {
    background-color: #43a2e1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}